/* General developed to phone */

* {
    box-sizing: border-box;
}

img {
    align-self: center;
    border-radius: 25px;
    max-width: 100%;
}

p {
    padding: 5px;
    text-align: justify;
    text-justify: auto;
    text-shadow: 1px 1px rgba(182, 182, 182, 0.3);
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(./images/background.jpg);
    background-attachment: fixed;
    background-position: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(182, 182, 182, 0.2);
    padding: 10px 0 20px 0;
}

header h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size:48px;
    color:rgb(48, 48, 48);
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px rgba(78, 6, 85, 0.75);
}

header h2 {
    font-family: Brush script MT;
    font-size: 24px;
    color: rgba(45, 47, 155, 0.5);
    text-align: right;
    margin: 0px 40px 0px 40px;
}

#chamada img {
    border-radius: 0;
}

#chamada div {
    font-family: Garamond;
    color: rgb(63, 63, 112);
    font-size:1em;
}

article {
    background-color: rgba(182, 182, 182, 0.5);
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

#whatsapp img {
    max-width: 100px;
}

#whatsapp {
    display: flex;
    align-items:center;
    justify-content: center;

}
#button {
    display: flex;
    padding: 10px;
    margin: 10px;
}

#button:hover {
    background-color: rgba(182, 182, 182, 0.2);
    border-style: groove;
}

#button:active {
    border-style: inset;
}

#zap {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

footer {
    width: 100%;
    background-color: rgba(37, 37, 37, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

footer img {
    width: 48px;
}

#links {
    display: block;
    text-align: center;
}

@media screen and (min-width:768px) {


    section {
        margin: 50px 0 50px 0;
    }

    p {
        padding: 10px;
        font-size: large;
    }

    #container {
        display: flex;
        flex-flow: column nowrap;
        max-width: 1080px;
        overflow: hidden;
    }

    #header {
        width: 1080px;
    }


    header h1 {
        font-size: 96px;
    }

    header h2 {
        font-size: 48px;
    }

    #chamada {
        display: flex;
        flex-wrap: nowrap;
    }

    #chamada div {
        font-size: 2em;
        padding: 20px;
        float: right;
    }

    #artigos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .foto img,
    #bio img,
    .foto p {
        max-width: 240px;
        min-width: 120px;
    }


    #sobre {
        display: flex;
        flex-wrap: nowrap;
        align-content: space-between;
    }

    #bio {
        display: flex;
    }

    #bio p {
        float: left;
    }

}